* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

:root {
  --blue: #ff4484;
  --bgcolor: #0a2640;
}

button {
  border: none;
  background: none;
}
.container {
  max-width: 1440px;
}

ul {
  list-style-type: none;
}
/* typography */

/* .sub-text-white */
.section-heading {
  margin-bottom: 1rem;
  
}
.card-title {
  font-size: 16px;
  color: #2d0572e3;
}

.sub-text {
  color: gray;
  font-size: 13.5px;
}
